.App {
  padding:30px;
}
.search-box {
  margin: auto;
  display: block;
  padding: 7px 20px;
  font-size: 18px;
  line-height: 1;
  outline: none;
  border-radius: 17px;
  border: 1px solid rgba(0,0,0,0.24);
  margin:10px;
}

.textarea-notes{
  width: 400px;
  height: 100px;
  margin: 10px;
  padding: 7px 20px;
  font-size: 18px;
}
.list-container{
  padding: 7px 15px;
}
.list-item{
  line-height: 2;
  background-color:#FFB6C1;
  font-weight: bold;
  color:rgb(31, 45, 61);
  padding: 10px;
  height:150px;
  width:230px;
  overflow:auto;
  display: inline-block;
  margin: 10px 10px 10px 0px;
  box-shadow: 5px 6px 6px #F08080;
}
.btn {
  margin: 10px;
}
.btn-edit{
  float: right;
  margin: 7px;
  cursor: pointer;
}
.btn-update{
  float: right;
  margin-right: 4px;
  cursor: pointer;
}
.delete-icon{
  float:right;
  margin: 7px;
  cursor: pointer;
}
.hide{
  display: none;
}
.show{
  display: block;
}
.input-edit{
width: 70%;
margin: 7px;
}